.memories-section {
  display: flex;
  justify-content: space-between;
  gap: 32px; 
  padding: 32px; 
  max-width: 1152px; 
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 220px;
}

.memories-text {
  flex: 1;
}

.memories-title {
  font-size: 50px; 
  font-weight: 700;
  margin-bottom: 16px; 
  width: 643px;
}

.memories-description {
  color: #6b7280; 
  margin-bottom: 24px; 
}

.memories-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 16px; 
  position: absolute;
}

.memories-item {
  display: flex;
  align-items: flex-start;
  gap: 8px; 
  margin-top: 20px;
}

.memories-check {
  background-color: #7c3aed;
  color: #ffffff;
  border-radius: 50px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
}
.memories-item-text{
  width: 250px;
  color: #00000099;
}

.memories-image-wrapper {
  flex: 1;
}

.memories-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 16px; 
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
              0 4px 6px -2px rgba(0, 0, 0, 0.05); 
}
