.stats-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.stat-number {
  font-size: 80px;
  font-weight: 700;
  color: #5937E0;
  margin: 0;
}

.stat-title {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  margin: 0;
}

/* Адаптивка */

/* Планшеты */
@media (max-width: 1024px) {
  .stat-number {
    font-size: 60px;
  }

  .stat-title {
    font-size: 18px;
  }
}

/* Средние мобильные / большие смартфоны */
@media (max-width: 768px) {
  .stats-section {
    flex-direction: column;
    gap: 20px;
  }

  .stat-number {
    font-size: 50px;
  }

  .stat-title {
    font-size: 16px;
  }
}

/* Малые мобильные */
@media (max-width: 480px) {
  .stat-number {
    font-size: 40px;
  }

  .stat-title {
    font-size: 14px;
  }
}
