.stats-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0 auto;
  padding: 20px 20px;
  border-radius: 20px;
  position: relative;
  
}

.stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: 300px;
}

.stat-number {
  font-size: 80px;
  font-weight: 700;
  color: var(--primary);
  margin: 0;
}

.stat-title {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  color: var(--text-color);
  
}

@media (max-width: 1024px) {
  .stat-number {
    font-size: 60px;
  }

  .stat-title {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .stats-section {
    flex-direction: column;
    gap: 20px;
  }

  .stat-number {
    font-size: 50px;
  }

  .stat-title {
    font-size: 16px;
  }
}


@media (max-width: 480px) {
  .stat-number {
    font-size: 40px;
  }

  .stat-title {
    font-size: 14px;
  }
}
