


.reviews-section {
  padding: 80px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.reviews-title {
  font-size: 40px;
  font-weight: 800;
  margin: 0 0 48px;
  text-align: center;
  letter-spacing: -0.5px;
}


.reviews-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
  max-width: 100%;
 
}

.review-card {
  background: white;
  border-radius: 17px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 2px 2px rgba(172, 172, 172, 0.267);
  display: flex;
  flex-direction: column;
  overflow: visible;
  min-height: 450px;
}

.review-top {
  padding: 40px 36px 28px;
  flex: 1 1 auto;
  text-align: center;
}

.quote {
  color: #5937e0;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 18px;
}

.review-text {
  font-size: 16px;
  line-height: 1.6;
  max-width: 320px;
  margin: 0 auto;
  color: #111827;
  font-weight: 600;
}

.review-bottom {
  background-color: #5937e0;
  color: #fff;
  padding-top: 46px;
  padding-bottom: 22px;
  text-align: center;
  position: relative;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 50%;
  top: -40px;
  transform: translateX(-50%);
  background: #eee;
  box-shadow: 0 6px 18px rgba(16, 24, 40, 0.15);
}

.company {
  font-size: 13px;
  opacity: 0.85;
  margin: 40px 0 4px;
}

.name {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}
