/* AppDownloadSection.css */

.app-download-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px 20px;
  flex-wrap: wrap;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 45px;
  max-width: 536px;
}

.title {
  font-size: 40px; 
  font-weight: bold;
  max-width: 313px;
}

.description {
  font-size: 16px;
  font-weight: 400;

}

.buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.app-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 170px;
  height: 50px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.app-button img {
  width: 24px;
  height: 24px;
}

.button-text {
  font-weight: 600;
  font-size: 20px;
}

.image-container img {
  max-width: 100%;
  height: auto;
}


@media (max-width: 768px) {
  .app-download-section {
    flex-direction: column;
    align-items: center;
  }
  .image-container {
    margin-right: 90px;
    margin-top: 30px;
  }
  .text-container {
    gap: 25px;
    text-align: center;
  }

  .title {
    font-size: 32px;
    max-width: 100%;
  }

  .description {
    max-width: 100%;
  }

  .buttons {
    justify-content: center;
  }

  .app-button {
    width: 150px;
    height: 45px;
  }

  .button-text {
    font-size: 18px;
  }
}
