.spi{
    margin-top: 10px;
    margin-left: 10px;
    border-bottom: 1px solid gray;
    padding-bottom: 4px;
}
.tuk{
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 12px;
}
.tik{
    padding: 2px 12px;
   padding-bottom: 20px;
}