:root {
  --primary: #4f46e5;
  --primary-dark: #3730a3; 
  --light-gray: #f3f4f6;
  --border-radius: 0.5rem;
}

.book-section {
  background: linear-gradient(135deg, #5731d2, #3413bc);
  width: 1220px;
  height: 660px;
  margin: 0 auto;
  border-radius: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  color: white;
  font-family: sans-serif;
}

.book-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
  z-index: 0;
  opacity: 0.3;
}

.book-content {
  position: relative;
  z-index: 10;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 0 40px;
  gap: 80px;
}

.book-text {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.book-text h1 {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.1;
}

.book-text p {
  font-size: 16px;
  opacity: 0.85;
}
.btn-primary {
  width: 204px;
  height: 45px;
  background: #ffa62b;
  color: white;
  font-weight: 600;
  border-radius: 12px;
  transition: 0.3s;
}

.book-form {
  width: 416px;
  height: 500px;
  background: linear-gradient(to right, var(--primary), var(--primary-dark));
  border-radius: 24px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.book-form h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 15px;
}
.book-form option {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 10px;
  color: black;
}

.book-form select,
.book-form input {
  width: 336px;
  height: 38px;
  border-radius: 12px;
  border: 1px solid #ccc;
  padding: 0 10px;
  outline: none;
  transition: 0.3s;
  
}

.book-form select:focus,
.book-form input:focus {
  border-color: #0e63c5;
}

.btn-book {
  width: 336px;
  height: 40px;
  background: #ff9e0c;
  color: white;
  font-weight: 600;
  border-radius: 12px;
  margin-top: 10px;
  transition: 0.3s;
}

.btn-book:hover {
  background: #ff8c00;
}

.book-success {
  font-size: 24px;
  font-weight: bold;
  color: #80ff00e3;
  text-align: center;
}

@media (max-width: 1280px) {
  .book-section {
    width: 95%;
    flex-direction: column;
    height: auto;
    padding: 40px 0;
  }

  .book-content {
    flex-direction: column;
    gap: 40px;
  }

  .book-form,
  .book-text {
    max-width: 90%;
    width: 100%;
  }

  .book-text h1 {
    font-size: 48px;
  }
}

@media (max-width: 768px) {
  .book-text h1 {
    font-size: 36px;
  }

  .btn-primary,
  .btn-book {
    width: 100%;
  }

  .book-form select,
  .book-form input {
    width: 100%;
  }
}
